*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    background: #EDEDED;
    font: 14px Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased !important;
}

.button{
  background: linear-gradient(to left, #41b69c, #00a5e3);
  padding: 10px;
  color: white;
  border-radius: 5px;
  border: 0;
  text-decoration: none;
  margin: 0 5px;
  font-size: 14px;
  cursor: pointer;
}

.button.danger{
  background: linear-gradient(to left,  #aD0F03, #bD0F03);
}

.button.success{
  background: linear-gradient(to left,  #5ae491,#45d67f);
}

.button--small{
  font-size: 12px;
}
